html {
    height: 100%;
    width: 85%;
    margin-left: 7.5%;
}
body,div,pre,form,input,blockquote {
    padding:0;
}

body {
    font-family:normal x-small verdana, arial, helvetica, sans-serif;
    background-color:white;
    z-index: 1;
}

blockquote {
    border-left:2px solid #369;
    padding-left: 4px;
    margin: 5px;
    margin-right: 15px;
}
div#header {
    text-align: right;
}

div#title {
    text-align: center;
    font-family:normal x-small verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 200%;
    border: 1px solid #5f99cf;
    background-color: #cee3f8;
    /*
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    */
}

textarea {
    font: normal small verdana, arial, helvetica, sans-serif;
    width: 31em;
    height: 14em;
}

form.post-edit input[type=submit] {
    border: 0;
    font-weight: bold;
     background-color: white;
    font-size: 85%;
    color: gray;
}

form.config { width: 53%; }
.config .submit { text-align: center; }
.config table {
    margin-top:10px; margin-bottom: 10px; 
    font-size: smaller;
    padding-left: 1em;
    background-color:#f0f0f0; color: gray;
    border-collapse: collapse;
    width: 100%;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

input[type=text], input[type=password], textarea {
    border: 1px solid #369;
}

.separator { color:gray; margin: 0px .6ex 0px .6ex}
div.post {margin-top: 0.5em; }
.page {
    font-size: 80%;
}
a.page, #header a, #title a, .config table a{
    text-decoration: none;
    color: #369;
}
.post-title {font-size: 130%; }
.post-date {
    color: #888;
    font-size: 90%;
}
.postedit {
    font-size: 20%;
    margin: 0em;
}
.message {
    font-size: 110%;
    color: red;
    background-color: pink;
    padding: 5px 10px;
    border: 1px solid red;
}

